* {
  font-family: Arial, sans-serif;
}

.css-image {
  background-image: url('/images/developers.jpg');
  height: 150px;
  width: 150px;
  background-size: contain;
  background-repeat: no-repeat;
}
