$black: rgba(0,0,0,0.87);

html, body, header, nav, section, article, div, p, span, h1, h2, h3, h4, h5,
h6, textarea, input, button, form, ul, ol, li, a, blockquote, canvas, footer, label,
select, option, strong, em, i, b, table, tbody, thead, td, th, tr, u {
  color: $black;
  font-family: -apple-system, Arial, Helvetica, sans-serif
}

pre, code {
  color: $black;
  font-family: Courier New, Courier, monospace
}
